html {
  font-size: 62.5%;
  background-color: rgb(240, 241, 241);
}

input {
  border-radius: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 0;
  margin: 0;
}

.App h1 {
  text-align: center;
  font-size: 4rem;
}

/*---Global Form Setting----*/

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.FormInput label {
  padding-right: 1.5rem;
  font-size: 2.5rem;
}

.FormInput input {
  font-size: 1.75rem;
  padding: 0.5rem;
}

button {
  font-size: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}

/*----------------First Section----------------*/
.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*-----Login----*/

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid;
  padding: 3rem;
  background-color: rgb(246, 240, 219);
  border-radius: 1rem;
}

.Login h2 {
  font-size: 4rem;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 2rem;
}

/*------Conversion------*/

.Conversion {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 3rem;
  background-color: rgb(246, 240, 219);
  border-radius: 1rem;
  width: 50%;
  height: 20rem;
  position: relative;
}

.Conversion form {
  display: flex;
  flex-direction: row;
  gap: 30rem;
}

.Conversion button {
  display: flex;
  position: absolute;
  left: 42rem;
  bottom: 10rem;
  padding: 1rem;
  border-radius: 1rem;
}

.currency-with-flag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.currency-from input,
.currency-to input {
  max-width: 20rem;
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.currency-code {
  font-size: 2.5rem;
}

.convert-button {
  align-self: center;
}

/*----------------Second Section----------------*/

.second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid;
  padding: 3rem;
  background-color: rgb(246, 240, 219);
  border-radius: 1rem;
}

.CardTitle {
  font-size: 2.5rem;
  font-weight: 600;
}
